<<<<<<< HEAD
<h1>StartPage#index</h1>
<p>Find me in app/views/start_page/index.html.erb</p>
=======
<h1>Wilkommen im Forum 2.0 ;)</h1>
</br>

<%= link_to 'Räume des Forums', rooms_path%>
>>>>>>> 3c7ae1cbe2384a1418b1813aaa0e4bee7bf94cb6
