<h1>Listing rooms</h1>


<div id="content">
        <div id="catlist">
            <ul>
			   <% @rooms.each do |room| %>
					<li> 
   	               		<%= link_to room.title, room %>
   	               
   	               		<% if can? :edit, @room %>
    						<%= link_to 'editieren', edit_room_path(room) %>
    			  		<% end %>
    			   
    			  		<% if can? :delete, @room %>
       				    	<%= link_to 'löschen', room, method: :delete, data: { confirm: 'Are you sure?' } %>
        		   		<% end %>
			   		</li>
				<% end %>
            </ul>
        </div>
</div>


<br />

<% if can? :create, @room %>
  <%= link_to "Neuen Raum erstellen", new_room_path(@room) %>
<% end %>

